version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: runner
    container_name: mvp-backend
    ports:
      - "4000:4000"
    command: sh -c "npx prisma generate && npx prisma migrate deploy && npx prisma db seed &&  npm run start:prod"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider http://localhost:4000/health || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  frontend:
    build: ./frontend
    container_name: mvp-frontend
    ports:
      - "3000:80"
    depends_on:
      backend:
        condition: service_healthy
